header{
  /*Novamente definimos a largura da div*/
  width:1000px;
  /* altura da div */
  height:200px;
  /* Cor de fundo da div */
  /* background-color:rgb(242, 242, 248); */
  /* background: url("logo.png") no-repeat left ; */
  
  }
#conteudo{
  /*Novamente definimos a largura da div*/
  width: 1000px;
  /* altura da div */
  height: 1000;
  /* Cor de fundo da div */
  background-color:rgb(8, 184, 17);  
  padding-left: 10%;
}
.conteudo_exame{
  /*Novamente definimos a largura da div*/
  width: 1000px;
  /* altura da div */
  height: 1100px;
  /* Cor de fundo da div */
  background-color:rgba(231, 231, 231, 0.979);  
 /* ul li{background-color: black}; */
background: url("ultrasson3.jpg") no-repeat right;border:0;
text-align: justify;
  
}
.conteudo_exame ul li:hover{background-color: rgb(12, 128, 46);
  padding: 2px;
  margin-left:  8px;
  color:cornsilk;
  display:inline;
}
.modal{width: 500px;
height: 500px;
background-color: blueviolet;
position: absolute;
top:50%;
left:50%;
}
footer{
  /*Novamente definimos a largura da div*/
  width:1000px;
  /* altura da div */
  height:100px;
  /* Cor de fundo da div */
  /* background-color:rgb(247, 245, 247); */
  font-family: arial, helvetica, sans-serif; font-weight: bold;
  font-size: 10px;
  text-align: center;
   }
  .footer_exame{font-size: 12px;
                padding-top: 50px};
  /*{margin: 0; padding: 0;}*/

body{
font-family: arial, helvetica, sans-serif;
font-size: 14px;
}
nav {position:relative;  ;right: 20px; bottom: 0px; }
nav ul li {float: right; color: black; width: auto; margin: 0.8em; font-size: 1.0em; font-family: 'verdana';}
nav ul li a {text-decoration: none;color: green ; }
nav ul li a:hover{color:blue}
nav ul li img{width: 30%; margin-right: 10%;}

.logo{position: absolute; width: 300px; height: auto;}
.logo img{width: 90%; margin-left: 10%;}

.ajuste{
  padding-left: 180px;
}

/* banner Home*/

#banner{width: 100%;
}
#banner img{width: 100%; margin-bottom: 0;
			margin-top: 65px;
}